site_name: Blake Tannehill
site_description: Python Developer Portfolio
site_url: https://btvance.github.io/blake-portfolio/
use_directory_urls: true


theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.expand
    - navigation.top
    - toc.integrate
    - content.code.copy
  palette:
  - scheme: default
    primary: indigo
    accent: cyan
    toggle:
      icon: material/weather-night
      name: Switch to dark mode
  - scheme: slate
    primary: indigo
    accent: cyan
    toggle:
      icon: material/weather-sunny
      name: Switch to light mode
  font:
    text: Inter
    code: JetBrains Mono
  icon:
    logo: material/code-tags

nav:
  - Home: index.md
  - Projects: projects.md
  - About: about.md

markdown_extensions:
  - fenced_code
  - tables
  - admonition
  - attr_list
  - footnotes
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/BTVance
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/blake-tannehill/

extra_css:
  - stylesheets/extra.css